<h2>Treatment Plan</h2>

<h4>Name: <%= @treatment_plan.name %></h4>

<% if @treatments.blank? %>
  No treatments have been added.
<% else %>
  <%= render partial: "treatments/treatments_table", locals: { treatments: @treatments } %>
<% end %><br><br>

<%= link_to "Add a new treatment", new_treatment_plan_treatment_path(@treatment_plan) %><br>
<%= link_to "Back to patient info", patient_path(@patient) %>
