<div class="w3-bar w3-top w3-blue w3-large w3-mobile" style="z-index:5">
  <% flash.each do |name, msg| %>
    <% if name == 'notice' then color = 'pale-green' end %>
    <% if name == 'alert' then color = 'pale-red' end %>
    <p class="w3-center" style="margin: 8px;"><%= msg %></p>
  <% end %>
</div>
