<h1>Welcome <%= @user.name %></h1>

<h4>Upcoming Appointments</h4>
<% if @appointments.blank? %>
  No appointments have been created.
<% else %>
  <%= render partial: 'appointments/appointments_table', locals: { appointments: @appointments } %>
<% end %>


<h4>New Patients</h4>

<%= link_to "New Patient", new_patient_path %><br>
<%= link_to "New Appointment", new_appointment_path %>
