<div class="w3-container w3-padding-16" style="background: rgba(255,255,255,0.85);">

  <h1>Welcome to Dental Office Manager</h1>
  Dental Office Manager lets you easily access and manage patient data, appointments, and treatment plans.<br>

  <a class="w3-margin-right w3-button w3-pink w3-hover-blue w3-xlarge w3-round-large w3-margin-top" href="/accounts/sign_in">Sign In</a>
  <a class="w3-button w3-pink w3-hover-blue w3-xlarge w3-round-large w3-margin-top" href="/accounts/sign_up">Sign Up</a>
</div>
