<div class="jumbotron">
  <h1>Welcome to Dental CMS</h1>
  <p>Dental CMS lets you easily access and manage patient data, appointments, and treatment plans.</p>

  <a class="right-margin-btn btn btn-primary btn-lg" href="/accounts/sign_in">Sign In</a>
  <a class="pink-signin-btn btn btn-primary btn-lg" href="/accounts/sign_up">Sign Up</a>


</div>
