<table class="w3-table">
<tr>
  <td>DOB</td>
  <td><%= date_of_birth(patient) %></td>
</tr>
<tr>
  <td>Phone</td>
  <td><%= patient.phone_number %></td>
</tr>
<tr>
  <td>Address</td>
  <td><%= patient.address %></td>
</tr>
<tr>
  <td><%= link_to "Edit", edit_patient_path(patient) %></td>
</tr>
</table>
