<div class="w3-container">
  <h2>Patients</h2>

  <%= display_patients_list(@patients) %>

  <div class="new-button-div">
    <%= link_to "New Patient", new_patient_path, class: "w3-button w3-medium w3-black w3-hover-pink w3-round-large w3-padding-medium" %>
  </div>

</div>
