<%= render partial: 'patient', locals: { patient: @patient } %>

<h3>This Patient's Appointments</h3> <!-- show the patient's appointments -->

<% if @appointments.empty? %>
  No appointments have been created.
<% else %>
  <%= render partial: 'appointments/appointments_table', locals: { appointments: @appointments } %>
<% end %>
