/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .signin-btn {
   background-color: rgb(235,89,82);
   border-color: rgb(235,89,82);
   color: white;

 }

 .signin-btn:hover {
   background-color: rgb(213,44,35);
   border-color: rgb(213,44,35);
   color: white;
 }

 .right-margin-btn {
   margin-right: 20px;
 }

 .left-margin-btn {
   margin-left: 10px;
 }

 .grey-box {
   background-color: rgb(230,230,230);
   border-width: thick;
   border:5px solid white;
 }

 .footer {
   font-size: 0.75em;
 }

 .table-no-padding td {
   padding: 0px;
 }

 .new-button-div {
  padding-top: 10px;
  padding-left: 10px;
 }
