// Place all the styles related to the TreatmentPlans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.treatment-location {
  margin-top: 18px;
  width: 100px;
  height: 30px;
}
