<div class="w3-panel">
  <div class="w3-row-padding w3-margin-bottom" style="margin:0 -16px">
    <div class="w3-third">
      <div class="w3-container w3-red w3-padding-16">
        <h3>Appointment Detail</h3>
        <%= render partial: 'appointments/appointment', locals: { appointment: @appointment } %>
      </div>
    </div>
    <div class="w3-panel">
      <div class="w3-twothird">
        <%= render partial: 'appointment_notes/note_form', locals: { appointment: @appointment, appointment_note: @appointment_note } %>
      </div>
    </div>

    <div class="w3-panel w3-twothird">
      <%= render partial: 'appointment_notes/notes_table', locals: { appointment: @appointment } %>
    </div>
  </div>
</div>
