<header class="w3-container" style="padding-top:22px">
  <div class="w3-margin-bottom">
    <div class="w3-third">
      <div class="w3-container w3-red w3-padding-16">
        <h3>Appointment Detail</h3>
        <%= render partial: 'appointments/appointment', locals: { appointment: @appointment } %>
      </div>
    </div>
  </div>
</header>

<div class="w3-panel w3-twothird" style="margin-top: 0px;">
  <h3 style="margin-bottom: 0px;">Notes</h3>

    <%= render partial: 'appointment_notes/note_form', locals: { appointment: @appointment, appointment_note: @appointment_note } %>

    <%= show_appointment_notes(@appointment) %>

</div>
